.modal-agrandissement_photo {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.modal-agrandissement_photo:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

Button.modal_button {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    
}

/* Button.modal-button_plus {
    position: relative;
    right: 270px;
} */
.modal-button_plus {
    background-color: rgb(128, 0, 128);
    border: rgb(128, 0, 128) ;
}

Button.modal-button_plus:hover {
    background-color: rgba(128, 0, 128, 0.781);
    border: rgb(128, 0, 128) ;

}