$footer : rgb(128, 0, 0); 
$color : grey;



footer{
    background-color: black;
    text-align: center;
    // padding: 20px;
    position: relative;
    // height: 130px;
    // left: 0;
    bottom: 0;
    // height: 60px;
    // width: 100%;
    color: $color;
    // margin-top: 780px;

    // background-color: black;

    // position: absolute;
    // bottom: 0px;
    // width: 100%;

    border-top: none;
    margin-top: none;

    font-size: 10px;



}



.copyright{
    margin-top: 25px;
}