
.aboutme{
    background-color:#f0d8d8 ;
    padding-top: 50px;
    padding-bottom: 30px;
}

.fiche{
    border: 3px solid red;
    border-radius: 10px;
    // margin-top: 70px;
    // padding: 45px;
}

.fiche_contenu{
    padding: 20px;
}

.image_photo{
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    height: 250px;

}

span{
    position: relative;

}

.info_nom{
    font-weight: bold;
    font-size: 32px;
}

.info_age{
    font-size: 20px;
}

// .info_supplementaire{
    
// }

.info_caractere-poste{
    margin-top: 35px;
}