.hobbies{
    background-color: orange;
}

.hobbies h2,
.hobbies h6{
    display: block;
    text-align: center;
}

.hobbies_image{
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 100px;

    margin-top: 40px;
}